.homefeed_col {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 4rem;
}
.home_wrapper {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.home_container {
  background: #1f0a31;
  border-radius: 12px;
}
.wrapper {
  /* background-color: #1f0a31; */
  padding: 80px;
}

.section {
  width: 100%;
}

.iconWrapper {
  border-radius: 4px;
  background: #2c193b;
  
  padding: 10px 25px 10px 25px;
  margin: 15px;
}

.icon {
  color: #A464D7;
  font-size: 25px;
}

.cardSplitter {
  width: 90%;
  padding: 20px;
  border-radius: 12px;
}

.btn {
  color: #1f0a31 !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 70%;
  background-color: white !important;
}

.togglerBtn {
  color: #1f0a31 !important;
  font-weight: 700 !important;
  border-radius: 12px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 15%;
  background-color: white !important;
}

.home_crypto_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home_crypto_wrapper {
  padding: 1rem 3rem;
  color: white;
  width: auto !important;
}
.home_crypto_icon {
  width: auto !important;
  display: flex;
  gap: 3rem;
}

.btn:hover {
  color: white !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 55%;
  border: white solid 2px !important;
  transition: 0.3s;
  background-color: #1f0a31 !important;
}
.experience_heading {
  margin: auto;
  padding: 0rem 15rem;
  font-size: 1.4rem;
}
.experience_second_section {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0rem;
}
.experience_second_section h3 {
  display: flex;
  align-items: center;
  text-align: start;
  color: white;
}
.experience_second_section p {
  display: flex;
  margin: 0;
  width: 47rem;
  font-size: 1.4rem;
}
.experience_third_section {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0rem;
}
.experience_third_section h3 {
  display: flex;
  align-items: center;
  text-align: end;
  color: white;
}
.experience_third_section p {
  display: flex;
  margin: 0;
  width: 47rem;
  font-size: 1.4rem;
  text-align: end;
}

.overlay {
  height: 100vh;
  width: 100%;
  background: rgba(#0000, #0000, #0000, 0.7);
  position: fixed;
}

@media only screen and (max-width: 1280px) {
  .iconWrapper {
    border-radius: 4px;
    background: #2c193b;
    padding: 10px 15px 10px 15px;
    margin: 10px;
  }
}
@media only screen and (max-width: 990px) {
  .wrapper {
    padding: 0px;
  }
  .home_card_row {
    gap: 2rem;
  }
  .section {
    width: 100%;
  }
  .home_crypto_icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home_crypto_icon img {
    width: 11vmin;
  }
  .experience_heading {
    padding: 0rem 2rem;
    text-align: center;
  }
  .experience_second_section,
  .experience_third_section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .experience_third_section {
    flex-direction: column-reverse;
  }
  .experience_second_section p,
  .experience_third_section p {
    width: auto;
    text-align: center;
  }
  .wrapper {
    /* background-color: #1f0a31; */
    padding: 0px;
  }
}
@media only screen and (max-width: 420px) {
  .wrapper {
    padding: 0px;
  }
  .home_crypto_wrapper h2 {
    font-size: 7vmin;
  }
  .home_crypto_icon img {
    width: 16vmin;
  }
  .experience_heading,
  .experience_second_section p,
  .experience_third_section p,
  .experience_second_section h3,
  .experience_third_section h3 {
    font-size: 5vmin;
  }
}

/* Hide the default scrollbar */
.container::-webkit-scrollbar {
  width: 5px;
}

/* Customize the scrollbar track */
.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Customize the scrollbar thumb */
.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Customize the scrollbar thumb on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
