.footer_wrapper {
  background: #1f0a31;
  width: 100%;
  border-radius: 10px;
}
.footer_container {
  padding: 7rem 0rem 1rem 0rem;
}
.footer_div {
  display: flex;
  gap: 9rem;
}
.footer_main {
  display: flex;
  justify-content: center;
  gap: 20rem;
  padding-bottom: 5rem;
}
.footer_logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer_main_logo {
  width: 7rem;
}
.footer_creater_name {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 9px;
}
.footer_company_logo {
  display: flex;
  gap: 4rem;
}
.social_logo {
  display: flex;
  gap: 3rem;
}
.social_logo p {
  color: #a5a5a5;
}

/* our services */
.our_services,
.company {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer_middle_div {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.our_services h3,
.company h3 {
  color: white;
  text-transform: capitalize;
}
.our_services ul,
.company ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.our_services li,
.company li {
  color: white;
  list-style: none;
}
.footer_newsletter {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* email area */
.footer_newsletter h3 {
  text-transform: uppercase;
}
.footer_newsletter p {
  width: 26rem;
}
.footer_input_area {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 50px;
  overflow: hidden;
}
.footer_input_area input {
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
  padding-left: 1rem;
}
.footer_input_area button {
  background: #4d3d5b;
  height: 3rem;
  position: relative;
  left: 1rem;
  width: 10rem;
  color: white;
}
.footer_send_icon {
  color: var(--primary-color);
  font-size: 1.8rem;
  transform: rotate(319deg);
  position: relative;
  bottom: 0.5rem;
  cursor: pointer;
}
.footer_privacy {
  display: flex;
  gap: 1rem;
  color: #a5a5a5;
}
.copyright {
  text-align: center;
  padding: 1rem 0rem 1rem;
  border-top: 1px solid grey;
}
.copyright p {
  color: #a5a5a5;
  letter-spacing: 3px;
}
@media screen and (max-width: 1400px) {
  .footer_main,
  .footer_div {
    gap: 2rem;
  }
}
@media screen and (max-width: 1150px) {
  .footer_main {
    flex-direction: column;
    padding-left: 1rem;
  }
  .footer_div {
    gap: 9rem;
    display: flex;
    justify-content: center;
  }
  .footer_input_area {
    width: 25rem;
  }
  /* .footer_wrapper {
    width: 100%;
  } */
}
@media screen and (max-width: 830px) {
  .footer_main,
  .footer_div {
    gap: 4rem;
  }
  .footer_div {
    gap: 4rem;
    flex-direction: column;
  }
  .footer_input_area {
    width: 25rem;
  }
}
@media screen and (max-width: 440px) {
  .footer_newsletter p,
  .footer_input_area {
    width: 95%;
  }
}
@media screen and (max-width: 350px) {
  .footer_main_logo {
    width: 6rem;
  }
  .footer_creater_name {
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
  .footer_div {
    gap: 3rem;
  }
  .footer_company_logo,
  .social_logo {
    gap: 1rem;
  }
  .footer_company_logo img {
    width: 4rem;
    height: 2rem;
  }
  .footer_middle_div,
  .footer_main {
    flex-direction: column;
    gap: 2rem;
  }
}
