.header_wrapper {
  background: #1f0a31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.mobHeaderWrapper {
  display: none;
}

.header_bars_wrapper {
  display: flex;
  gap: 5rem;
}
.header_logo {
  width: 2.5rem;
}
.header_bars {
  color: white;
  font-size: 2.5rem;
}
.header_barsX {
  color: white;
  font-size: 2.5rem;
}
.header_btn_wrapper {
  display: flex;
  gap: 1rem;
}
.header_btn_wrapper button:nth-child(1) {
  background: transparent;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
}
.header_btn_wrapper button:nth-child(2) {
  padding: 0.5rem 1rem;
  background: white;
  border: none;
  border-radius: 7px;
}

@media only screen and (max-width: 990px) {
  .mobHeaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header_bars {
    display: none;
  }
  .header_bars_wrapper {
    flex-direction: row-reverse !important;
  }
  .mob_bars {
    color: white;
    font-size: 1.4rem !important;
  }

  .mob_barsHome {
    color: #1f0a31;
    font-size: 1.5rem !important;
  }
  .mob_barsSearch {
    color: white;
    font-size: 1.3rem !important;
  }

  .wrapHomeIcon {
    background: white;
    border-radius: 50px;
    padding: 13px;
    margin-top: -35px;
  }

  .mobHeader {
    background: #1f0a31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0.5rem;
    width: 100%;
    position: absolute;
    border-top-left-radius: 12px;
    bottom: 0px;
    border: 2px solid white;
    border-top-right-radius: 12px;
  }
}

@media screen and (max-width: 420px) {
  .header_bars_wrapper {
    gap: 2rem;
  }
  .header_bars {
    font-size: 2rem;
    display: none;
  }
  .header_logo {
    font-size: 1.5rem;
  }
  .header_bars_wrapper button {
    font-size: 0.8rem;
  }
  .header_btn_wrapper button:nth-child(1),
  .header_btn_wrapper button:nth-child(2) {
    padding: 0.5rem 0.5rem;
  }
}
