.sidebar_wrapper {
  background: #1f0a31;
  height: 34rem;
  position: absolute;
  left: 0;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  padding: 1rem 0.5rem 0rem 0.5rem;
}
.inner_sidebar {
  background: #2d1b3d;
  height: fit-content;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 1.3rem;
  border-radius: 10px;
  transition: all 0.3s;
  width: 4rem;
}
.inner_sidebar_active {
  background: #2d1b3d;
  height: fit-content;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 1.8rem;
  border-radius: 10px;
  transition: all 0.3s;
  width: 10rem;
}
.inner_sidebar img {
  cursor: pointer;
}
.inner_sidebar_active span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.inner_sidebar span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.inner_sidebar_name {
  margin: 0;
  opacity: 0;
  transition: all 0.2s;
}
.inner_sidebar_name_active {
  margin: 0;
  opacity: 1;
  transition: all 0.5s;
}
@media screen and (max-width: 900px) {
  .sidebar_wrapper {
    display: none;
  }
}
