.Responsible_Gaming_wrapper {
  padding: 3rem 0rem;
  color: white;
}
@media screen and (max-width: 575px) {
  .Responsible_Gaming_wrapper {
    padding: 3rem 1rem;
  }
}
@media screen and (max-width: 340px) {
  .Responsible_Gaming_wrapper h1,
  .Responsible_Gaming_wrapper h2,
  .Responsible_Gaming_wrapper h3 {
    font-size: 8vmin;
  }
  .Responsible_Gaming_wrapper p {
    font-size: 4.5vmin;
  }
}
