.home_wrapper {
  padding-top: 3rem;
}
.home_container {
  background: #1f0a31;
  border-radius: 12px;
}
.wrapper {
  /* background-color: #1f0a31; */
  padding: 80px;
}

.section {
  width: 100%;
}

.iconWrapper {
  border-radius: 4px;
  background: #2c193b;
  padding: 10px 25px 10px 25px;
  margin: 15px;
}

.icon {
  color: white;
  font-size: 25px;
}

.cardSplitter {
  width: 90%;
  padding: 20px;
  border-radius: 12px;
}

.btn {
  color: #1f0a31 !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 70%;
  background-color: white !important;
}
.home_crypto_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home_crypto_wrapper {
  padding: 1rem 3rem;
  color: white;
  width: auto !important;
}
.home_crypto_icon {
  width: auto !important;
  display: flex;
  gap: 3rem;
}

.btn:hover {
  color: white !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 55%;
  border: white solid 2px !important;
  transition: 0.3s;
  background-color: #1f0a31 !important;
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(#0000, #0000, #0000, 0.7);
  position: fixed;
}

@media only screen and (max-width: 1280px) {
  .iconWrapper {
    border-radius: 4px;
    background: #2c193b;
    padding: 10px 15px 10px 15px;
    margin: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .wrapper {
    padding: 0px;
  }
  .section {
    width: 100%;
  }
  .home_crypto_icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home_crypto_icon img {
    width: 11vmin;
  }
}
@media only screen and (max-width: 420px) {
  .wrapper {
    padding: 0px;
  }
  .home_crypto_wrapper h2 {
    font-size: 7vmin;
  }
  .home_crypto_icon img {
    width: 16vmin;
  }
}
