.wrapper {
  background-color: #1f0a31;
  padding: 80px;
}

.section {
  width: 500px;
}

.iconWrapper {
  border-radius: 4px;
  background: #2c193b;
  padding: 10px 25px 10px 25px;
  margin: 15px;
}

.icon {
  color: white;
  font-size: 25px;
}
