@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

body {
  background: linear-gradient(180deg, #150820 0%, #00000b 100%);
  color: white;
  background-repeat: no-repeat;
}

p {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 300 !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 500 !important;
}
